$primary-color: #365475;
$secondary-color: #5981B1;
$light-color: #98BAE3;
$accent-color: #FCAF45;
$font-stack: "Manrope", sans-serif;

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $font-stack;
}